* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-color: bisque;
  font-family: calibri;
}

header {
  display: flex;
  font-size: 24px;
}

main {
  display: flex;
}

button {
    margin: 8px;
    padding: 4px;
    font-size: 16px;
}

.highscores {

}

.timer {

}

.container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
} */

/* #start {
    font-weight: bold;
    color:rgba(181, 48, 48, 0.816);
} */
/* 
.card-body{
    margin-left: 32px;
} */